# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Logs
*.log

# Android build
captures/
.externalNativeBuild/
.cxx/
*.apk
output-metadata.json

# OS
.DS_Store
